<!DOCTYPE HTML>
<html>
	<!--  Head -->
  	{% include "head.html" %}

	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper" class="divided">

			<!-- Spotlight -->
			<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="landing-color">
				<div class="content">
					<h2>Hi {{ name }}!</h2>
					<p>Fill out the form below and submit to create a playlist</p>
					<ul class="actions stacked">
						<li><a href="{{ url_for('logout') }}#" class="button">Log Out</a></li>
					</ul>
				</div>
			</section>
		</div>

		<section class="wrapper style1 align-center">
			<div class="inner">
				<div class="content">
					<form method="POST" action="#">
						<div class="fields">
							<div class="field half">
								<label for="name">Name of the playlist</label>
								<input type="text" name="name" id="name" value="Top 100 songs from" required/>
							</div>
							<div class="field half">
								<label for="desc">Description for the playlist</label>
								<input type="text" name="desc" id="desc" value="Created using Spotipy" required />
							</div>
							<div class="field half">
								<label for="date">Enter the date</label>
								<input type="date" name="date" id="date" value="" required />
							</div>
							<div class="field half">
								<input type="checkbox" id="copy" name="copy" />
								<label for="copy">Make Public?</label>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" name="submit" id="submit" value="Create Playlist" /></li>
						</ul>
					</form>
				</div>
			</div>
		</section>

		<!-- Scripts -->
		{% include "script.html" %}

	</body>
</html>
